#google-map {
    position: relative;
    display: flex;
    justify-content: center;
}
  
#map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map-type {
  position: absolute;
  z-index: 1;
  bottom: 68.7vh; 
  left: 0vw 
}

#selector {
  border-radius: 0px;
  font-family: sans-serif;
  width: 300px;
}

#map-wrapper {
  flex: 1;
  padding: 20px; /* Add some padding for better spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location, #terrain {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  fill: #666666;
  stroke: #666666;
  background: none rgb(255, 255, 255);
  padding: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

#terrain {
  top: 5vh;
  right: 0.5vw;
}

#location {
  bottom: 4vh;
  right: 2.5vw;
}

#terrain:hover {
  fill: #333333;
}

#location:hover {
  fill: #333333;
  stroke: #333333;
}

.gm-style-mtc {
  display: none; /* Adjust height as needed */
}

@media only screen and (max-width: 1280px) {
  #map-wrapper{
      align-items: center;
  }

  #selector {
    border-radius: 0px;
    font-family: sans-serif;
    width: 300px;
  }

  #location, #terrain {
    right: 1vw;
  }
}

@media only screen and (max-width: 912px) {
  #location, #terrain {
    right: 1.5vw;
  }
}

@media only screen and (max-width: 820px) {
  #location {
    bottom: 17vh;
  }
}

@media only screen and (max-width: 768px) {
  #location {
    bottom: 20vh;
  }
}

@media only screen and (max-width: 540px) {
  #terrain {
    top: 5.5vh;
    right: 3vw;
  }
  #location {
    bottom: 27vh;
    right: 3vw;
  }
}

@media only screen and (max-width: 280px) {
  #terrain {
    top: 8vh;
    right: 4vw;
  }
  #location {
    right: 4vw;
  }
}