#google-map {
    position: relative;
    display: flex;
    justify-content: center;
}

.button-overlay {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    width: 40vw;
    background-color: white;
    font-size: 28px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.7);
  }
  
  #map {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #map-type {
    position: absolute;
    z-index: 1;
    bottom: 68.7vh; 
    left: 0vw 
  }

  #selector {
    border-radius: 0px;
    font-family: sans-serif;
    width: 300px;
  }

  #map-wrapper {
    flex: 1;
    padding: 20px; /* Add some padding for better spacing */
    display: flex;
    flex-direction: column;
    align-items: center;
}

  #terrain {
    z-index: 2;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    position: absolute;
    top: 5vh;
    right: 0.5vw;
    fill: var(--text-grey);
    background: none rgb(255, 255, 255);
    padding: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }

.gm-style-mtc {
  display: none; /* Adjust height as needed */
}

@media only screen and (max-width: 1280px) {
    #map-wrapper{
        align-items: center;
    }
    .button-overlay{
      width: 60vw;
    }

    #selector {
      border-radius: 0px;
      font-family: sans-serif;
      width: 300px;
    }

    #terrain {
      right: 1vw;
    }
  }
@media only screen and (max-width: 912px) {
    .button-overlay{
      font-size: 14px;
    }
    #terrain {
      right: 1.5vw;
    }
  }

  @media only screen and (max-width: 540px) {
    #terrain {
      top: 7vh;
      right: 3vw;
    }
  }