/* Basic styling for the circular button */
/* .playground-content {
    position: relative;
    overflow: hidden;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 20vh;
    margin-left: 20vw;
} */

@import "~react-image-gallery/styles/css/image-gallery.css";

.btn {
    border: none;
    background-color: #3498db;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 32px;
    text-align: center;
    cursor: pointer;
}

#input-upload-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
}

#upload-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 20vh;
    background-color: rgb(213, 213, 213);
    border-radius: 12px;
}   

.upload-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#upload-wrapper:hover .btn {
    background-color: #CDEAEE;
    color: var(--text-grey);
}


#input-wrapper {
    opacity: 0;
    position: absolute;
    width: 74.5%;
    height: 84.9%;
    border-radius: 12px;
    cursor: pointer;
}

#upload-wrapper:hover {
    background-color: rgb(169, 169, 169);
    cursor: pointer;
}

input#file-upload-button {
    cursor: pointer;
}

#info-card {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    margin-top: 20px;
    font-size: large;
    margin-bottom: 20px;
}

.playground-text {
    background-color: #CDEAEE;
    padding: 12px;
    border-radius: 12px;
}

.btn-label {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

body
{
    /* background-image: url("../../resources/kidsground site proportion_-1.png"); */
    background-size: cover;
    background-color: rgba(255,255,255,0.1);
}

.image-gallery-left-nav, .image-gallery-right-nav {
    padding: 0;
}

.image-gallery-play-button {
    display: none;
}

button {
    transition: background 1s;
}

#playground-name {
    width: 50%
}

.fence-icon {
    height: 1%;
    width: 1%;
}

.playground-picture {
    height: 60vh;
    width:90vw;
}

.card {
    margin:10px;
    border:50px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width:fit-content;
}

.card:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}

.icon {
    margin-right: 1vw;
}