#map {
    width: 98vw;
    height: 85vh;
    background: rgba(252, 252, 252, 0);
}

.map-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 560px) {
    #map {
        width: 95vw;
        height: 60vh;
    }
}

.map-page-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#map-text {
    flex-direction: column;
    margin-left: 2vw;
    margin-bottom: 2vw;
}