body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-image: url("background.jpg");
    background-position: center;
    width: 100%;
    height: 100vh; 
    background-size: cover;
}

.container {
    background-position: center;
    background-size: cover;
    position: relative;
} 

#nameField {
    max-height: 0;
}

.form-box {
    border-radius: 20px;
    width: 90%;
    max-width: 450px;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 2%);
    background: transparent;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #62BEC9;
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    margin-top: 20%;
    flex-basis: 48%;
    background-color: #eaeaea;
    font-weight: bold;
    color: #62BEC9;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

button:hover {
    background-color: #62BEC9;
    color: #fff;
}

.input-group {
    height: 240px;
}

.btn-field button.disable {
    background: #eaeaea;
    color: #555;
}

.error {
    color:#62BEC9;
}

.password-check {
    width: 90%;
    padding-left: 0.75%;
    margin: 0.1% 5.5% 0.1% 5.5%;
    color: #555;
    text-align: justify;
}

.password-check div.disable {
    display: none;
}

.registration-success {
    display:none;
    color:#62BEC9;
}

#wrong-credentials-msg {
    display: none;
    color: #62BEC9;
}

#username-exists-error {
    display:none;
    color:#62BEC9;
    margin-top: 2rem;
}

#logout-btn{
    border:#62BEC9 2px solid;
}